doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		link(href="libs/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen")
		link(rel="stylesheet" type="text/css" href="styles/base.css")

		block head

	body
		div.main
			header
				div.container.header-container
					h2 Французский республиканский календарь online
					div.row
						div.col-md-6.col-sm-6.col-xs-6
							h4 Сегодня:
							p#index--rev-calendar
						div.col-md-6.col-sm-6.col-xs-6
							h4 Григорианский календарь:
							p#index--common-calendar
					div.row.header--menu
						//-div.col-md-3.col-sm-3.col-xs-3
							a(href="/").btn.btn-sm.btn-danger Календарь
							div.col-md-3.col-sm-3.col-xs-3
								a(href="#").btn.btn-sm.btn-danger История
							div.col-md-3.col-sm-3.col-xs-3
								a(href="#").btn.btn-sm.btn-danger Литература
							div.col-md-3.col-sm-3.col-xs-3
								a(href="#").btn.btn-sm.btn-danger Гостевая книга
						div.btn-group(role="group" aria-label="...")
							a(href="/index.html").btn.btn-sm.btn-danger Календарь
							a(href="#").btn.btn-sm.btn-danger Информация
							a(href="#").btn.btn-sm.btn-danger Гостевая книга
			div.container.main-column
				div.pusher-header
				block content



		footer.footer
			div.container
				| Проект на 
				a(href="https://github.com/tov-kaschey/French-Republican-Calendar") gitHub
				br
				| Адрес разработчика 
				a(href="") e-mail

				
		script(type="text/javascript" src="libs/jquery-2.1.3.min.js")
		script(src="libs/bootstrap-3.3.2/js/bootstrap.min.js")
		
		script(type="text/javascript" src="js/calendar_names.js")
		script(type="text/javascript" src="js/calendar.js")
		script(type="text/javascript" src="js/base.js")

		block scripts
