extends /base.jade

block head
	link(rel="stylesheet" type="text/css" href="styles/description.css")
	title Французский республиканский календарь - Описание

block content
	div.description
		<?php include 'php/description.php'; ?>

block scripts
	// - 
		script(type="text/javascript" src="js/description.js")