extends /base.jade

block head
	link(rel="stylesheet" type="text/css" href="styles/description.css")
	title Французский республиканский календарь - Описание

block content


block scripts
	// - 
		script(type="text/javascript" src="js/description.js")