extends /base.jade

block head
	link(rel="stylesheet" type="text/css" href="styles/guest.css")
	title Французский республиканский календарь - Гостевая книга

block content


block scripts
	script(type="text/javascript" src="js/guest.js")