extends /base.jade

block head
	link(rel="stylesheet" type="text/css" href="styles/guest.css")
	title Французский республиканский календарь - Гостевая книга

block content
	div.guest-book(ng-app="guestBookApp" ng-controller="GuestBookControler")
		div.top
			h3 Гостевая книга
			button.btn.btn-sm.btn-danger(ng-click="showAddRecord()" ng-show="showNRBBtnShown") Новая запись
		div.add-record(ng-show="newRecBlockShown")
			i.add-record__hide.glyphicon.glyphicon-remove(ng-click="hideAddRecord()")
			lable(for="add-record__name") Имя: 
			br
			input(type="text" ng-model="newName" maxlength="30")
			br
			lable(for="add-record__text") Текст:
			br
			textarea(ng-model="newText")
			br
			button.btn.btn-sm.btn-danger(ng-click="newRecord()") Добавить запись
		//- div.pages
		//- 	a.page-btn(href="javascript:void(0);" ng-repeat="num in pageBtnNum()" ng-click="partialLoad(num)")
		//- 		{{num}}

		div.records
			div.record(ng-repeat="record in records | orderBy:'-id'" data-record-id="{{record.id}}")
				div.record__name {{record.name}}
				div.record__text {{record.text}}
				div.record__time {{record.time}}
		//- div.test
		//- 	{{pagesCount()}}:{{recordsCount}}
		div.menage Показывать по: 
			select.menage__show-num(ng-model="recordsOnPage" ng-options="opt for opt in recordsOnPageOpt")
		div.pages
			a.page-btn(href="javascript:void(0);" ng-repeat="num in pageBtnNum()" ng-click="partialLoad(num)")
				{{num}}


block scripts
	script(type="text/javascript" src="libs/angular.min.js")
	script(type="text/javascript" src="js/guest.js")