extends /base.jade

block head
	link(rel="stylesheet" type="text/css" href="styles/guest.css")
	title Французский республиканский календарь - Гостевая книга

block content
	div.guest-book(ng-app="guestBookApp" ng-controller="GuestBookControler")
		div.records
			div.record(ng-repeat="record in records")
				div.record__name {{record.name}}
				div.record__text {{record.text}}
		div.add-record
			lable(for="add-record__name") Имя: 
			br
			input#add-record__name(type="text" ng-model="newName")
			br
			lable(for="add-record__text") Текст:
			br
			textarea#add-record__text(ng-model="newText")
			br
			button#add-record__btn.btn.btn-sm.btn-danger(ng-click="newRecord()") Добавить запись

block scripts
	script(type="text/javascript" src="libs/angular.min.js")
	script(type="text/javascript" src="js/guest.js")