extends /base.jade

block head
	link(rel="stylesheet" type="text/css" href="styles/index.css")
	title Французский республиканский календарь

block content
	div.container.index--content
		h1 Французский республиканский календарь online
		p#index--rev-calendar test

block scripts
	script(type="text/javascript" src="js/index.js")