extends /base.jade

block head
	link(rel="stylesheet" type="text/css" href="styles/index.css")
	title Французский республиканский календарь

block content
	div.welcome
		<?php require 'php/index_welcome.php'; ?>

	div.row
		div.col-md-3.col-xs-12
			div.month-img-block
				h3#month-img-head
				img#month-img-el.month-img-el
		div.col-md-9.col-xs-12.visual-calendar-block
			h3 Визуальный календарь
			div.vc-wrapper
				div#visual-calendar.visual-calendar
			p.index--comment
				| Оригинальный календарь не содержал предписаний по поводу выходных.
				| Однако государственным служащим в период великой французской революции полагался один выходной (декади, 10 день декады).
				| Предложенная здесь система является идеей авторов сайта (спасибо Леше Филиппову). Количество выходных в году здесь примерно соответстует семидневной неделе с двумя выходными.
				| Выходные отмечены желтым.
	div.row

		div.col-md-12.col-xs-12
			h3 Узнать дату
			p Введите дату по григоринскому календарю

			div.row
				div
					lable(for="calc--day") День
					input#calc--day(type="number" min="1" max="31").form-field.bigger-field
				div
					lable(for="calc--month") Месяц
					select#calc-month.form-field.bigger-field
						option(value="0") Январь
						option(value="1") Февраль
						option(value="2") Март
						option(value="3") Апрель
						option(value="4") Май
						option(value="5") Июнь
						option(value="6") Июль
						option(value="7") Август
						option(value="8") Сентябрь
						option(value="9") Октябрь
						option(value="10") Ноябрь
						option(value="11") Декабрь
				div
					lable(for="calc--year") Год
					input#calc--year(type="number" min="1792" max="3000").form-field.bigger-field
				div
					lable(for="calc--first-day") Осеннее равноденствие*
					select#calc--first-day.form-field.bigger-field
						option 22
						option 23
						option 24
				p.index--comment
					| * - Год во французском республиканском календаре начинается с дня осеннего равноденствия. 
					| Благодаря этой особенности он имеет более высокую (по сревнению с григорианским) астрономическую точность.
					| Чтобы точно определить дату, необходимо указать дату предшествующего ей осеннего равноденствия.

			div
				button#calc--btn.btn.btn-sm.btn-danger Результат
			p#calc--result


block scripts
	script(type="text/javascript" src="js/index.js")