.form-field {
	border: 2px $headClr solid;
	@include border-radius($controlsBRadius);
	background-color: #ffffff;
	padding: 4px;
	
}
.bigger-field {
	min-width: 120px;
	min-height: 30px;
	margin: 5px;
}
.form-field option {
	color: #000000;
}
