.form-field {
	border: 2px $headClr solid;
	@include border-radius($controlsBRadius);
	background-color: #ffffff;
	padding: 4px;
	margin: 5px;
	width: 120px;
	height: 30px;

}
.form-field option {
	color: #000000;
}
