.vc-wrapper {
	height: 360px;
	overflow: auto;
	margin-top: 15px;
}
.vc__comment {
	display: inline-block;
	width: 600px;
}
.visual-calendar {
	#vc--months {
		//margin-top: 3px;
		width: 570px;
		margin: 0 auto;
	}
	.vc--month-btn {
		display: inline-block;
		padding: 2px 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		border: 2px $headClr solid;
		@include border-radius($controlsBRadius);
		font-size: 12px;
		font-weight: bold;
		cursor: pointer;
		&.__current-month {
			color: $headClr;
		}
		&.__active-month {
			border: 2px #ffffff solid;
		}
	}
	.vc--month-btn:first-letter {
		text-transform: uppercase;
	}
	#vc--current-month {
		width: 602px;
		margin: 0 auto;
		text-align: center;
		vertical-align: middle;
		border-collapse: separate;
		border: 1px $headClr solid;
		&.__sansculottide {
			border: none;
		}
	}

/*	th {
		display: inline-block;
	}
	th div {
		text-align: center;
	}
	td {
		display: inline-block;
		border: 2px $headClr solid;
		height: 42px;
		padding: 3px;
		&.__active-cell {
			border: 4px white solid;
		}
		&.__holyday, &.__holyday div {
			background-color: $holydayClr;
			color: $headClr;
		}

	}*/
	.vc-cell {
		display: inline-block;
		border: 2px $headClr solid;
		height: 42px;
		padding: 3px;
		height: 66px;
		width: 60px;
		padding: 3px;
		overflow: hidden;
		margin: 0px;
		&.__active-cell {
			border: 4px white solid;
		}
		&.__holyday, &.__holyday div {
			background-color: $holydayClr;
			color: $headClr;
		}
		&.__sansculottide {
			height: 89px;
			width: 90px;
			.sansculottide-day {
				font-size: 11px;
			}
			.vc-cell-day-name {
				font-size: 11px;
				margin-top: 0px;
			}
		}
	}

	.vc-cell-day-name {
		margin-top: 4px;
		font-size: 7px;
		//.verticalText();
	}
	.vc--head-cell {
		display: inline-block;
		border: 2px $headClr solid;
		height: 80px;
		width: 60px;
		padding-top: 25px;
		text-align: center;
	}
	.vc--head-text {
		text-align: center;
		@include verticalText();
	}
	.vc-row {
		margin: 0;
		padding: 0;
		height: 66px;
	}

}