@import "params.less";

html, body {
	height: 100%;
	width: 100%;
}
input, select {
	color: #000000;
}
body {
	background-color: @bodyBackClr;
	overflow: hidden;
}
/*
* html .main {
     height: 100%;
 }
 .main 
{
	min-height: 100%;
	position:relative;
	
}
*/
header {
	height: 200px;
	width: 100%;
	position: relative;
	background-color: @backgroundClr;
	border-bottom: 2px @headClr solid;
	text-align: center;
}
h1, h2, h3, h4 {
	color: @headClr;
}
* {
	color: @fontClr;
}
.header--menu {
	// position: absolute;
	// bottom: 0;
}
