@import "params.less";

html, body {
	height: 100%;
	width: 100%;
}
input, select {
	color: #000000;
}
body {
	background-color: @bodyBackClr;
}
header {
	min-height: 200px;
	width: 100%;
	background-color: @backgroundClr;
	border-bottom: 2px @headClr solid;
	text-align: center;
}
h1, h2, h3, h4 {
	color: @headClr;
}
* {
	color: @fontClr;
}