@charset "UTF-8";
.clear {
  width: 100%;
  clear: both; }

.form-field {
  border: 2px #c5320f solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 4px; }

.bigger-field {
  min-width: 120px;
  min-height: 30px;
  margin: 5px; }

.form-field option {
  color: #000000; }

header {
  height: 200px;
  width: 100%;
  position: relative;
  background-color: black;
  border-bottom: 2px #c5320f solid;
  text-align: center;
  margin-bottom: -200px;
  z-index: 5; }
  header a:visited {
    color: #ffffff; }

.header-container {
  position: relative;
  height: 200px; }

@media (max-width: 705px) {
  header h2 {
    font-size: 14px; }
  header h4, header p {
    font-size: 12px; }
  header .btn-sm {
    font-size: 9px; } }
.header--menu {
  position: absolute;
  bottom: 7px;
  width: 100%; }

.footer {
  height: 60px;
  width: 100%;
  background-color: black;
  border-top: 2px #c5320f solid;
  margin-top: -60px;
  position: relative;
  z-index: 2;
  clear: both;
  padding-top: 12px;
  font-size: 11px; }

html, body {
  height: 100%;
  width: 100%; }

input, select {
  color: #000000; }

body {
  background-color: #8a0505; }

* html .main {
  height: 100%; }

* html .main-column {
  height: 100%; }

body > .main {
  height: auto;
  min-height: 100%; }

.main {
  min-height: 100%;
  height: auto !important;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden; }

h1, h2, h3, h4 {
  color: #c5320f; }

* {
  color: white; }

a {
  color: #f9f627; }

a:visited {
  color: #c5320f; }

input, textarea, select, option {
  color: #000000; }

.check-warn {
  color: #f42e11;
  font-size: 13px;
  margin: 0px; }

.pusher-header {
  width: 100%;
  height: 200px; }

.main-column {
  min-height: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  border-right: 2px #c5320f solid;
  border-left: 2px #c5320f solid;
  position: relative;
  z-index: 1;
  padding-bottom: 30000px;
  /* отступ */
  margin-bottom: -29975px;
  /* поле */ }

.pusher-footer {
  width: 100%;
  height: 60px; }
