@import "params.less";

html, body {
	height: 100%;
	width: 100%;
}
input, select {
	color: #000000;
}
body {
	background-color: @bodyBackClr;
	//overflow: hidden;
}

* html .main {
     height: 100%;
 }
 * html .main-column {
     height: 100%;
 }
 body > .main {height: auto; min-height: 100%;}
.main 
{
    min-height: 100%;
    height: auto !important;
	position:relative;
	padding-bottom: 60px;
	overflow: hidden;
	
}
header {
	height: 200px;
	width: 100%;
	position: relative;
	background-color: @backgroundClr;
	border-bottom: 2px @headClr solid;
	text-align: center;
	margin-bottom: -200px;
	z-index: 5;
}
.header-container {
	position: relative;
	height: 200px;
}
@media (max-width: 720px) {
	header {
		h2 {
			font-size: 14px;
		}
		h4, p {
			font-size: 12px;
		}
	}
}
h1, h2, h3, h4 {
	color: @headClr;
}
* {
	color: @fontClr;
}
.pusher-header {
	width: 100%;
	height: 200px;
}
.header--menu {
	position: absolute;
	bottom: 7px;
	width: 100%;
}
.main-column {
    min-height: 100%;
    height: 100%;
	text-align: center;
	background-color: @backgroundClr;
	border-right: 2px @headClr solid;
	border-left:  2px @headClr solid;
	position: relative;
	z-index: 1;
    padding-bottom: 30000px; /* отступ */
    margin-bottom: -29900px; /* поле */
}

.pusher-footer {
	width: 100%;
	height: 60px;
}
.footer {
	height: 60px;
	width: 100%;
	background-color: @backgroundClr;
	border-top: 2px @headClr solid;
	margin-top: -60px;
	position: relative;
	z-index: 2;
	clear: both;
}