@import "_params";

.guest-book {
	padding-top: 15px;
}
.add-record {
	padding: 20px 0px;
	border: 2px $headClr solid;
	@include border-radius($controlsBRadius);
}
.records {
	padding: 0px 20px;
}
.record, .record__name, .record__text {
	border: 2px $headClr solid;
	@include border-radius($controlsBRadius);
	text-align: left;

}
.record {
	margin: 15px auto;
	padding: 10px 20px;

}

.record__name {
	margin: 15px 0px;
	height: 30px;
	width: 150px;
	padding: 3px 10px;
}
.record__text {
	margin: 15px 0px;
	//height: 200px;
	width: 100%;
	padding: 3px 10px;
}