@import "_params";

.guest-book {
	//padding-top: 15px;
	.top {
		margin-bottom: 10px;
	}
	.add-record {
		position: relative;
		padding: 20px 20px;
		border: 2px $headClr solid;
		@include border-radius($controlsBRadius);

		.add-record__hide {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			color: $headClr;
		}
		#add-record__text {
			width: 100%;
			max-width: 400px;
			height: 170px;
			margin: 0px;
		}
		.add-record__warn {
			color: $warnClr;
			font-size: 13px;
			margin: 0px;
			//display: inline-block;
		}
	}
	.records {
		padding: 0px 20px;
	}
	.record, .record__name, .record__text {
		border: 2px $headClr solid;
		@include border-radius($controlsBRadius);
		text-align: left;

	}
	.record {
		max-width: 500px;
		margin: 15px auto;
		padding: 10px 20px;

	}

	.record__name {
		display: inline-block;
		margin: 15px 0px;
		height: 30px;
		min-width: 150px;
		padding: 3px 10px;

	}
	.record__text {
		margin: 0px 0px 10px 0px;
		min-height: 30px;
		max-height: 500px;
		overflow: auto;
		width: 100%;
		padding: 6px 10px;
	}
	.record__time {
		//padding-left: 10px;
		font-size: 10px;
	}
	.page-btn {
		display: inline-block;
		margin-left: 3px;
		margin-right: 3px;
	}
	.page-btn.page-btn_active {
		border: 1px white solid;
	}
}

vm-page-divider {
	.page {
		display: inline-block;
		margin-left: 3px;
		margin-right: 3px;

		&.page_active {
			color: green;
		}
	}

}
