@import "common.less";

body {
	background-color: @greyBack;
}

.index--content {
	height: 100%;
	text-align: center;
	background-color: #000000;
	color: #ffffff;

	h1, h2, h3, h4 {
		color: @redHead;
	}
}