@import url('reset.css');

body, html {
	height: 100%;
}
/*=================================
Content
=================================*/
.content {
	width: 900px;
	margin: 0 auto;
	/*height: 100%;*/
	text-align: center;
}
.main-head {

}
/*=================================
Content-end
=================================*/