.vc-wrapper {
  height: 360px;
  overflow: auto;
  margin-top: 15px; }

.vc__comment {
  display: inline-block;
  width: 600px; }

.visual-calendar {
  /*	th {
  		display: inline-block;
  	}
  	th div {
  		text-align: center;
  	}
  	td {
  		display: inline-block;
  		border: 2px $headClr solid;
  		height: 42px;
  		padding: 3px;
  		&.__active-cell {
  			border: 4px white solid;
  		}
  		&.__holyday, &.__holyday div {
  			background-color: $holydayClr;
  			color: $headClr;
  		}
  
  	}*/ }
  .visual-calendar #vc--months {
    width: 570px;
    margin: 0 auto; }
  .visual-calendar .vc--month-btn {
    display: inline-block;
    padding: 2px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px #c5320f solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; }
    .visual-calendar .vc--month-btn.__current-month {
      color: #c5320f; }
    .visual-calendar .vc--month-btn.__active-month {
      border: 2px #ffffff solid; }
  .visual-calendar .vc--month-btn:first-letter {
    text-transform: uppercase; }
  .visual-calendar #vc--current-month {
    width: 602px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    border-collapse: separate;
    border: 1px #c5320f solid; }
    .visual-calendar #vc--current-month.__sansculottide {
      border: none; }
  .visual-calendar .vc-cell {
    display: inline-block;
    border: 2px #c5320f solid;
    height: 42px;
    padding: 3px;
    height: 66px;
    width: 60px;
    padding: 3px;
    overflow: hidden;
    margin: 0px; }
    .visual-calendar .vc-cell.__active-cell {
      border: 4px white solid; }
    .visual-calendar .vc-cell.__holyday, .visual-calendar .vc-cell.__holyday div {
      background-color: #dbfa42;
      color: #c5320f; }
    .visual-calendar .vc-cell.__sansculottide {
      height: 89px;
      width: 90px; }
      .visual-calendar .vc-cell.__sansculottide .sansculottide-day {
        font-size: 11px; }
      .visual-calendar .vc-cell.__sansculottide .vc-cell-day-name {
        font-size: 11px;
        margin-top: 0px; }
  .visual-calendar .vc-cell-day-name {
    margin-top: 4px;
    font-size: 7px; }
  .visual-calendar .vc--head-cell {
    display: inline-block;
    border: 2px #c5320f solid;
    height: 80px;
    width: 60px;
    padding-top: 25px;
    text-align: center; }
  .visual-calendar .vc--head-text {
    text-align: center;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .visual-calendar .vc-row {
    margin: 0;
    padding: 0;
    height: 66px; }

.ext-cal {
  text-align: center; }

.ext-cal__img {
  width: 200px;
  border: 5px #c5320f ridge; }

#calc__wrong-year {
  display: none; }
