body {
  background-color: #4b413f;
}
.index--content {
  height: 100%;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
.index--content h1,
.index--content h2,
.index--content h3,
.index--content h4 {
  color: #c5320f;
}
